body {
    background-image: linear-gradient(#fcd8f7,white) ;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    padding: 20px;
    }
#container-warp {
    flex-grow: 1;
    height: 100%;
}
#container-menu {
    height: 100%;
    flex-grow: 1;
}
#h1 {
    color: #6c2b66;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
#ph1{
    color: #495057;
    max-width: 600px;
    margin: auto;

}
.circle-link {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #6c2b66;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.circle-link:hover {
    background-color: #f068e3;
    transform: scale(1.05);
    color: white;
}

.full-height-container {
    height: 70vh;
    display: flex;
    justify-content: center;

}
.alert-custom {
    background-color: #f590e9;
    border-color: #5d38a0;
    color: #ffffff;
}

.btn-custom-alke {
    background-color: #6c2b66;
    border-color: #6c2b66;
    color: white;
}
.btn-custom-alke:hover {
    background-color: #f068e3;
    border-color: #f068e3;
    color: white;
}
#form .form-control {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
#container-warp .container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#form .form-group {
    max-width: 300px;
    margin-bottom: 1rem;
    text-align: left;
}
#form .btn-primary {
    max-width: 300px;
    width: 100%;
    margin-top: 10px;
}
#listaMovimientos {
    background-color: #f590e9;
}